@use "../globals" as *;
@use "../parts/common" as *;


.container {
    position: relative;
    z-index: 10;
    background: $cWhite;
    transition: transform 0.5s, box-shadow 0.5s;
    height: 1000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    & .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__github {
            display: block;
            line-height: 1;
        }
        & img {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
        }
    }

    &__nav {
        @extend .flex;
        align-items: center;
        display: none;
        font-size: 24px;
        line-height: 1;
        @include mq(lg) {
            display: block;
        }
    }
    &__ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    &__li {
        margin: 11px 10px;
        & > a {
            color: $cBlack;
            text-transform: uppercase;
        }
    }
}

.footer {
    padding: 40px 0;
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include mq(lg) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 60px 0;
    }

    & .logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 40px;

        @include mq(lg) {
            margin-bottom: 0;
        }

        & img {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__ul {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;

        @include mq(lg) {
            flex-direction: row;
        }
    }

    &__li {
        margin-bottom: 20px;
        
        @include mq(lg) {
            margin: 0 0 0 40px;
        }

        & a {
            color: $cSubTitle;
        }
    }
}